* {
  box-sizing: border-box;
}

:root {
  --primary-color-main: #56487a;
  --primary-color-light: #8474a9;
  --primary-color-dark: #2b204e;
  --secondary-color-main: #fafafc;
  --secondary-color-light: #ffffff;
  --secondary-color-dark: #d3d3dd;
  --secondary-color-dark-1: #aeaeb6;
  --logo-bg-color: #3a63c7;
  --aqua-1: #1dc9b7;
  --yellow: #ffc241;
  --border-radius-1: 10px;
  --margin-1: 1.5rem;
  --padding-1: 1.1rem;
  --padding-2: 2rem;
  --grey-1: rgb(110, 114, 114);
  --grey-2: rgba(153, 153, 153, 0.44);
}

body {
  margin: 0;
  font-family: 'Nunito', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: inline-block;
  padding: 0.5rem var(--padding-1);
  border-radius: 5px;
  transition: ease-in 0.32s background-color;
  font-size: 15px;
}
