.add-assoc {
  text-align: left;
  padding-top: 0;
  background-color: var(--secondary-color-main);
  width: 100%;
}

.add-assoc__tags {
  border: 1px solid var(--grey-2);
  border-radius: var(--border-radius-1);
  margin-top: var(--margin-1);
  padding: 0.5rem;
  display: flex;
  min-height: 27px;
  gap: 5px;
  flex-wrap: wrap;
}
