.main-app {
  display: flex;
  width: 100%;
}
.page-container {
  width: 100%;
  overflow: auto;
}

.side-bar-container {
  display: block;
}

.coming-soon-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
  color: var(--grey-3);
}

@media screen and (max-width: 1024px) {
  .side-bar-container {
    display: none;
  }
}
