.review-card {
  width: 100%;
  display: flex;
  text-align: left;
  border-radius: 10px;
}

.review-card--reverse {
  text-align: right;
  flex-direction: row-reverse;
}

.review-card_img-container {
  width: 100%;
}

.review-card__img {
  display: block;
  width: 170px;
  height: 170px;
  object-fit: cover;
}

.review-card__text {
  font-style: italic;
  padding: 20px;
}

.review-card__text::before {
  content: open-quote;
  font-size: 20px;
}

.review-card__text::after {
  content: close-quote;
  font-size: 20px;
}

@media screen and (max-width: 525px) {
  .review-card {
    flex-direction: column;
    align-items: center;
  }

  .review-card__img {
    width: 100%;
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .review-card--reverse {
    text-align: left;
  }

  .review-card__text {
    font-style: italic;
    padding: 20px 20px 30px;
  }
}
