.nav-bar-v {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid var(--grey-2);
  padding: 1rem 1.5rem 0;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  color: var(--secondary-color-main);
  background-color: var(--primary-color-main);
}

.nav-bar--v__links {
  list-style-type: none;
  padding: var(--padding-1) 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

.logo {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.logo__img {
  display: block;
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.nav-bar-v__item {
  padding: 4px;
  position: relative;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius-1);
}

.nav-bar-v__item a {
  color: inherit;
  text-decoration: none;
}

.nav-bar-v__item:hover {
  background-color: var(--primary-color-light);
  text-decoration: none;
}

.nav-bar-v__item--selected {
  background-color: var(--primary-color-light);
}

.nav--open {
  transform: rotate(180deg);
}

.nav-v-item__wrapper {
  display: flex;
  align-items: center;
}

.nav-v-item__icon-wrapper {
  display: inline-flex;
  padding: 5px;
}

.nav-v-item__link-text {
  display: inline-block;
  text-transform: capitalize;
}

.nav-bar-v__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
